parameters:

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        -
            message: '#Property App\\Entity\\Comments::\$comments \(App\\Entity\\Comments\|null\) does not accept Doctrine\\Common\\Collections\\ArrayCollection<\*NEVER\*, \*NEVER\*>.#'
            path: src/Entity/Comments.php
        # -
        #     identifier: missingType.generics

    doctrine:
        allowNullablePropertyForRequiredField: true

    strictRules:
        booleansInConditions: false
