parameters:

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        -
            message: '#Parameter \$defaults of attribute class Symfony\\Component\\Routing\\Attribute\\Route constructor expects array<string, mixed>, array<int, string> given.#'
            path: src/Controller/Api/FileUploadController.php

        -
            message: "#Cannot access offset 'post' on mixed.#"
            path: src/Repository/PostRepository.php

        # -
		# 	identifier: variable.implicitArray

        # - identifier: missingType.generics

        -
            message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
            identifier: function.alreadyNarrowedType
            count: 1
            path: tests/bootstrap.php

    doctrine:
        allowNullablePropertyForRequiredField: true

    strictRules:
        booleansInConditions: false
