parameters:

    treatPhpDocTypesAsCertain: false

    # checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        -
            message: '#Parameter \$defaults of attribute class Symfony\\Component\\Routing\\Attribute\\Route constructor expects array<string, mixed>, array<int, string> given.#'
            path: src/Controller/Api/FileUploadController.php

        -
            message: '#Method App\\Entity\\User::getUserIdentifier\(\) should return non-empty-string but returns string.#'
            path: src/Entity/User.php

        -
            message: "#Cannot access offset 'post' on mixed.#"
            path: src/Repository/PostRepository.php

        # -
		# 	identifier: variable.implicitArray

        # - identifier: missingType.generics

    doctrine:
        allowNullablePropertyForRequiredField: true

    strictRules:
        booleansInConditions: false
